{% extends 'base.html' %}

{% block container %}
  <!-- test start -->
  <!-- <form class="" action="" method="POST">
    {{ form.as_p }}
    <input type="submit" name="" value="Create User">
  </form> -->
  <!-- test end -->
    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Register
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Register</li>
        </ol>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <!-- <form name="sentMessage" id="contactForm" novalidate method="POST" action=""> -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>First Name*</label>
                            <!-- <input type="text" class="form-control" id="first_name" required data-validation-required-message="Please enter your first name."> -->
                            {{ form.first_name }}
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="controls">
                        <label>Last Name*</label>
                        <!-- <input type="text" class="form-control" id="last_name" required data-validation-required-message="Please enter your last name."> -->
                        {{ form.last_name }}
                        <p class="help-block"></p>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Username*</label>
                            <!-- <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email."> -->
                            {{ form.username }}
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email*</label>
                            <!-- <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email."> -->
                            {{ form.email }}
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Password*</label>
                            <!-- <input type="password" class="form-control" id="password" required data-validation-required-message="Please enter your password."> -->
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Confirm Password*</label>
                            <!-- <input type="password" class="form-control" id="confirm-password" required data-validation-required-message="Please confirm your password."> -->
                            {{ form.password2 }}
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <!-- <button type="submit" class="btn btn-primary" id="login-btn">Register</button> -->
                    <input type="submit" class="btn btn-primary" id="login-btn" name="" value="Register">
                </form>
                {{ form.errors }}
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <script type="text/javascript">
      var form_fields = getElementsByTagName('input')
      // form_fields[3].dataValidationRequiredMessage="Please enter your password."
      // form_fields[4].id = "confirm-password"
      for(var field in form_fields){
        form_fields[field].className += ' form-control'
      }
    </script>
{% endblock container %}
